extends ../layout/admin

block styles 
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)

block content
    div.my-10
        h1.text-center.text-4xl.font-extrabold Bienes
            span.font-normal Raices
        h2.text-center.my-6.text-3xl.font-extrabold #{page}

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl md:px-10")
            form( id="image" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/properties/addimg/${property.id}`)

            button(id="publish" class="w-full mt-5 py-3 transition bg-indigo-600 hover:bg-indigo-700 duration-500 rounded text-white font-bold cursor-pointer" type="button") Publish Property


block scripts
    script(src="/js/addImages.js")